/*
 * File: core.scss
 * Description: Parent stylesheet file. Imports all child sheets.
 */

$color: #3498db;
$color-darker: #2980b9;
$color-2: #99a1ad;
$font-1: 'Lato', sans-serif;
$font-2: 'Yanone Kaffeesatz', sans-serif;

@import 'import/reset';
@import 'import/global';
@import 'import/siteframe';
@import 'import/main';
@import 'import/media-queries';