/*
 *
 * Author: Chris Deacy
 * Do not duplicate
 *
 * ------------------------------------------------------------
 *
 * Table of Contents
 * 
 * 1.0 - Reset & General
 * 2.0 - Siteframe
 * 3.0 - Main Content
 * 4.0 - Media Queries
 *
 */
/*
---------------------------------------------------------------
 * 1.0 - Reset & General
---------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *:focus {
    outline: none; }

html {
  box-sizing: border-box; }

body {
  background-color: #fff;
  min-width: 300px;
  font-family: "Lato", sans-serif;
  color: #000; }
  body.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }

article, aside, footer, header, hgroup, main, nav, section {
  display: block; }

/* Extendables */
.clear:after, ul:after, .container:after, footer:after, main .contact .contact-form .top-row:after {
  display: table;
  content: "";
  clear: both; }

/* End Extendables */
img {
  border: 0; }

ul {
  list-style-type: none; }
  ul li {
    float: left; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  a:hover {
    text-decoration: underline; }

form {
  display: block; }

input,
button,
textarea {
  display: block;
  border: 0;
  font-family: "Lato", sans-serif;
  box-shadow: none; }

button {
  cursor: pointer; }

textarea {
  overflow: auto; }

span {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.container {
  width: 100%;
  max-width: 1220px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px; }

.img {
  text-align: center;
  overflow: hidden; }
  .img img {
    position: relative; }

@-webkit-keyframes errorShake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes errorShake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.main-overlay {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  .main-overlay span {
    display: none;
    margin-top: 50px;
    font-size: 20px;
    color: #666;
    vertical-align: middle; }
    .main-overlay span a {
      color: #0091d4; }
  .main-overlay .preloader {
    background-color: transparent;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-animation: spin 1.2s linear infinite;
            animation: spin 1.2s linear infinite; }
    .main-overlay .preloader:before,
    .main-overlay .preloader:after {
      content: '';
      width: 90px;
      height: 90px;
      border: 5px solid transparent;
      position: absolute;
      top: -15px;
      left: -15px;
      border-radius: 50%; }
    .main-overlay .preloader:before {
      border-top-color: #3498db; }
    .main-overlay .preloader:after {
      border-bottom-color: #3498db; }

.loading .main-overlay {
  display: block; }

/*
---------------------------------------------------------------
 * 2.0 - Siteframe
---------------------------------------------------------------
 */
header {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2000;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  header .container {
    height: 35px;
    margin-top: 22px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  header .logo {
    float: right;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 45px;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    header .logo em {
      font-style: normal;
      color: #3498db; }
    header .logo:hover {
      color: #3498db; }
  header.scrolled {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
    header.scrolled .logo {
      color: #000; }
      header.scrolled .logo:hover {
        color: #3498db; }

footer {
  background-color: #13191f; }
  footer span {
    font-size: 14px;
    color: #5d6166; }
    footer span a:hover {
      text-decoration: none;
      color: #3498db; }
  footer .right {
    font-size: 0; }
    footer .right a {
      display: inline-block;
      margin-left: 20px; }
      footer .right a .fa {
        font-size: 27px;
        color: #5d6166;
        vertical-align: middle;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
        footer .right a .fa.fa-list-alt {
          height: 22px; }
      footer .right a:hover .fa {
        opacity: .7; }

/*
---------------------------------------------------------------
 * 3.0 - Main Content
---------------------------------------------------------------
 */
.push-button {
  display: inline-block;
  background-color: transparent;
  height: 55px;
  padding: 0 15px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 55px;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .push-button span {
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0; }

.arrow, .owl-buttons .owl-prev,
.owl-buttons .owl-next {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 55px;
  margin: 0 1px;
  font-size: 40px;
  color: #3498db;
  text-align: center;
  line-height: 55px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .arrow:hover, .owl-buttons .owl-prev:hover,
  .owl-buttons .owl-next:hover {
    background-color: #3498db;
    color: #fff; }

.owl-buttons {
  margin-bottom: 25px;
  text-align: center; }
  .owl-buttons .owl-prev,
  .owl-buttons .owl-next {
    margin: 0 5px; }

.main-section {
  padding: 140px 0 130px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .main-section .main-heading {
    text-align: center; }
    .main-section .main-heading h1 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 50px;
      color: #000;
      text-transform: uppercase;
      line-height: 41px; }
    .main-section .main-heading h3 {
      margin-top: 15px;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      color: #99a1ad;
      line-height: 17px; }
    .main-section .main-heading hr {
      display: block;
      background-color: #3498db;
      width: 90px;
      height: 1px;
      margin: 15px auto 0;
      border: 0; }
    .main-section .main-heading.dark h1 {
      color: #fff; }
    .main-section .main-heading.dark h3 {
      color: #909294; }
    .main-section .main-heading.dark hr {
      background-color: #fff; }

.service-blocks .service-block {
  padding: 0 1px;
  text-align: center; }
  .service-blocks .service-block .inner {
    background-color: #fff;
    height: 250px;
    padding: 45px 35px;
    border-bottom: 1px solid #dfe1e2;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    .service-blocks .service-block .inner .fa {
      font-size: 38px;
      color: #3498db; }
    .service-blocks .service-block .inner .title {
      margin-top: 15px;
      font-weight: bold;
      font-size: 16px;
      color: #18191a;
      text-transform: uppercase;
      line-height: 16px; }
    .service-blocks .service-block .inner .info {
      margin-top: 20px;
      font-size: 14px;
      color: #99a1ad;
      line-height: 20px; }

.tags .tag {
  display: inline-block;
  background: url(../img/tag-bg.png) top left no-repeat;
  height: 29px;
  margin: 6px 5px;
  padding-left: 14px; }
  .tags .tag span {
    display: block;
    background-color: #f6f6f6;
    height: 29px;
    padding: 0 6px;
    border: 1px solid #494949;
    border-left: 0;
    font-weight: 600;
    font-size: 12px;
    color: #494949;
    line-height: 27px;
    text-transform: uppercase; }

.progress-bars .progress-bar {
  width: 100%;
  height: 35px;
  position: relative; }
  .progress-bars .progress-bar .progress {
    height: 100%;
    font-size: 15px;
    color: #18191a;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; }
    .progress-bars .progress-bar .progress .title {
      position: absolute;
      top: 0;
      left: 0; }
    .progress-bars .progress-bar .progress .percent {
      position: absolute;
      top: 0;
      right: 0; }
    .progress-bars .progress-bar .progress .bar {
      background-color: #3498db;
      width: 100%;
      height: 14px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .progress-bars .progress-bar .border {
    background-color: transparent;
    width: 100%;
    height: 14px;
    border: 1px solid #e1e3e6;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; }

.portfolio-tiles .portfolio-tile .inner {
  background-color: #2980b9;
  max-width: 635px;
  margin: 0 auto;
  border-left: 1px solid #909294;
  border-right: 1px solid #909294;
  overflow: hidden;
  position: relative; }
  .portfolio-tiles .portfolio-tile .inner img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.5s 0.1s;
            transition: all 0.5s 0.1s; }
  .portfolio-tiles .portfolio-tile .inner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .portfolio-tiles .portfolio-tile .inner .overlay .info {
      width: 100%;
      height: 75px;
      margin-top: -90px;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0; }
      .portfolio-tiles .portfolio-tile .inner .overlay .info .title {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 24px;
        position: relative;
        top: 100px;
        opacity: 0; }
      .portfolio-tiles .portfolio-tile .inner .overlay .info .desc {
        margin-top: 10px;
        font-style: italic;
        font-size: 16px;
        line-height: 16px;
        position: relative;
        top: 100px;
        opacity: 0; }
      .portfolio-tiles .portfolio-tile .inner .overlay .info .date {
        margin-top: 10px;
        font-size: 13px;
        line-height: 15px;
        position: relative;
        top: 100px;
        opacity: 0; }
        .portfolio-tiles .portfolio-tile .inner .overlay .info .date .fa {
          display: inline-block;
          margin-right: 5px; }
    .portfolio-tiles .portfolio-tile .inner .overlay .link {
      display: block;
      width: 60px;
      height: 60px;
      margin: 125px 0 0 -30px;
      border: 1px solid #fff;
      line-height: 58px;
      text-align: center;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%; }
      .portfolio-tiles .portfolio-tile .inner .overlay .link .fa {
        color: #fff;
        font-size: 20px;
        vertical-align: middle;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
      .portfolio-tiles .portfolio-tile .inner .overlay .link:hover {
        background-color: #fff; }
        .portfolio-tiles .portfolio-tile .inner .overlay .link:hover .fa {
          color: #3498db; }
  .portfolio-tiles .portfolio-tile .inner:hover img {
    opacity: .15;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); }
  .portfolio-tiles .portfolio-tile .inner:hover .overlay {
    opacity: 1; }
    .portfolio-tiles .portfolio-tile .inner:hover .overlay .info .title {
      top: 0;
      opacity: 1;
      -webkit-transition: top 0.3s 0.05s, opacity 0.7s 0.05s;
              transition: top 0.3s 0.05s, opacity 0.7s 0.05s; }
    .portfolio-tiles .portfolio-tile .inner:hover .overlay .info .desc {
      top: 0;
      opacity: 1;
      -webkit-transition: top 0.3s 0.1s, opacity 0.7s 0.1s;
              transition: top 0.3s 0.1s, opacity 0.7s 0.1s; }
    .portfolio-tiles .portfolio-tile .inner:hover .overlay .info .date {
      top: 0;
      opacity: 1;
      -webkit-transition: top 0.3s 0.15s, opacity 0.7s 0.15s;
              transition: top 0.3s 0.15s, opacity 0.7s 0.15s; }
    .portfolio-tiles .portfolio-tile .inner:hover .overlay .link {
      margin-top: 25px;
      opacity: 1;
      -webkit-transition: margin-top 0.3s 0.35s, opacity 0.7s 0.35s, background-color 0.3s;
              transition: margin-top 0.3s 0.35s, opacity 0.7s 0.35s, background-color 0.3s; }

.portfolio-tiles .portfolio-tile:nth-child(3n+1) .inner {
  border-left: 0; }

.portfolio-tiles .portfolio-tile:nth-child(3n+3) .inner {
  border-right: 0; }

main .landing {
  background: url(../img/landing-bg.jpg) top center;
  height: 600px;
  background-attachment: fixed;
  -webkit-transition: height 0.3s;
          transition: height 0.3s; }
  main .landing .wrapper {
    display: table;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-top: 80px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    main .landing .wrapper .content {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      main .landing .wrapper .content h1, main .landing .wrapper .content h2, main .landing .wrapper .content h3 {
        color: #fff;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
      main .landing .wrapper .content h1, main .landing .wrapper .content h2 {
        text-transform: uppercase; }
      main .landing .wrapper .content h2 {
        font-size: 30px;
        line-height: 25px; }
      main .landing .wrapper .content h1 {
        margin-top: 20px;
        font-weight: 300;
        font-size: 70px;
        line-height: 55px; }
      main .landing .wrapper .content h3 {
        display: inline-block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 19px;
        position: relative; }
        main .landing .wrapper .content h3:before,
        main .landing .wrapper .content h3:after {
          content: "";
          background-color: #fff;
          width: 70px;
          height: 1px;
          position: absolute;
          top: 50%; }
        main .landing .wrapper .content h3:before {
          left: -90px; }
        main .landing .wrapper .content h3:after {
          right: -90px; }
      main .landing .wrapper .content .push-button {
        display: block;
        width: 220px;
        margin: 40px auto 0; }

main .services {
  background-color: #f2f4f5; }
  main .services .service-blocks {
    margin-top: 60px; }

main .skills {
  background-color: #fff; }
  main .skills .container {
    max-width: 1000px;
    margin: 0 auto; }
  main .skills .tags {
    margin-top: 60px; }
  main .skills .progress-bars {
    margin-top: 30px; }
    main .skills .progress-bars .progress-bar {
      margin-top: 10px; }

main .portfolio,
main .codepen {
  background-color: #494949; }
  main .portfolio .portfolio-tiles,
  main .codepen .portfolio-tiles {
    max-width: 1905px;
    margin: 50px auto 0; }
  main .portfolio .owl-buttons .owl-prev,
  main .portfolio .owl-buttons .owl-next,
  main .codepen .owl-buttons .owl-prev,
  main .codepen .owl-buttons .owl-next {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff; }
    main .portfolio .owl-buttons .owl-prev:hover,
    main .portfolio .owl-buttons .owl-next:hover,
    main .codepen .owl-buttons .owl-prev:hover,
    main .codepen .owl-buttons .owl-next:hover {
      background-color: #fff;
      color: #494949; }

main .contact {
  background-color: #f2f4f5; }
  main .contact .contact-form {
    margin-top: 60px; }
    main .contact .contact-form input,
    main .contact .contact-form textarea {
      background-color: #fff;
      width: 100%;
      margin-bottom: 30px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 14px;
      color: #000;
      -webkit-transition: border-color 0.3s, box-shadow 0.3s, color 0.3s;
              transition: border-color 0.3s, box-shadow 0.3s, color 0.3s; }
      main .contact .contact-form input:hover,
      main .contact .contact-form input:focus,
      main .contact .contact-form textarea:hover,
      main .contact .contact-form textarea:focus {
        border-color: #3498db;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); }
      main .contact .contact-form input.error,
      main .contact .contact-form textarea.error {
        border-color: #d74750;
        color: #d74750; }
    main .contact .contact-form input {
      height: 45px;
      padding: 0 18px; }
    main .contact .contact-form textarea {
      height: 120px;
      padding: 18px;
      resize: none; }
    main .contact .contact-form .push-button {
      display: block;
      width: 220px;
      margin: 0 auto;
      border-color: rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.2);
      -webkit-transition: box-shadow 0.6s;
              transition: box-shadow 0.6s; }
      main .contact .contact-form .push-button span {
        font-weight: 600; }
        main .contact .contact-form .push-button span:before {
          content: "send email";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
      main .contact .contact-form .push-button:after,
      main .contact .contact-form .push-button:before {
        width: 24px;
        height: 100%;
        font-family: FontAwesome;
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 5;
        -webkit-transition: -webkit-transform 0.2s;
                transition: transform 0.2s; }
      main .contact .contact-form .push-button:before {
        content: "\f119"; }
      main .contact .contact-form .push-button:after {
        content: "\f118"; }
      main .contact .contact-form .push-button:hover {
        border-color: #3498db;
        color: #3498db;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); }
      main .contact .contact-form .push-button:not(.error):not(.success) {
        -webkit-transition: all 0.6s;
                transition: all 0.6s; }
      main .contact .contact-form .push-button.error {
        border-color: #d74750;
        color: #d74750;
        -webkit-animation: errorShake 0.6s;
                animation: errorShake 0.6s; }
        main .contact .contact-form .push-button.error span:before {
          content: "error"; }
        main .contact .contact-form .push-button.error:before {
          -webkit-transform: translateX(-40px);
              -ms-transform: translateX(-40px);
                  transform: translateX(-40px); }
      main .contact .contact-form .push-button.success {
        border-color: #79c257;
        color: #79c257; }
        main .contact .contact-form .push-button.success span:before {
          content: "email sent"; }
        main .contact .contact-form .push-button.success:after {
          -webkit-transform: translateX(-40px);
              -ms-transform: translateX(-40px);
                  transform: translateX(-40px); }

.back-to-top {
  background-color: #fff;
  width: 60px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  position: fixed;
  bottom: -60px;
  right: 20px;
  z-index: 1900;
  cursor: pointer;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .back-to-top .fa {
    font-size: 30px;
    color: #3498db;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .back-to-top:hover {
    background-color: #3498db; }
    .back-to-top:hover .fa {
      color: #fff; }
  .back-to-top.show {
    bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }

/*
---------------------------------------------------------------
 * 4.0 - Media Queries
---------------------------------------------------------------
 */
/* Desktop */
@media (min-width: 1000px) {
  header .nav-toggle {
    display: none; }
  header nav {
    display: block !important;
    margin-top: 11px;
    float: left; }
    header nav ul {
      -webkit-transition: none;
              transition: none; }
      header nav ul li {
        height: 15px;
        overflow: hidden;
        line-height: 15px; }
        header nav ul li a {
          display: inline-block;
          font-weight: bold;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          position: relative; }
          header nav ul li a:after {
            content: attr(data-hover);
            display: block;
            color: #3498db;
            position: absolute;
            top: 100%; }
          header nav ul li a:hover {
            text-decoration: none; }
        header nav ul li:not(:last-child) {
          margin-right: 30px; }
        header nav ul li:hover a,
        header nav ul li.current a {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%); }
    header nav .nav-overlay {
      display: none; }
  header.scrolled nav ul li a {
    color: #000; }
  header.scrolled nav .nav-overlay {
    display: none; }
  footer {
    height: 95px;
    line-height: 95px; }
  .service-blocks .service-block .inner:hover {
    margin-top: -15px; }
  main .landing .wrapper .content .push-button:before {
    content: "\f003";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: FontAwesome;
    font-size: 30px;
    color: #fff; }
  main .landing .wrapper .content .push-button span,
  main .landing .wrapper .content .push-button:before {
    -webkit-transition: top 0.2s;
            transition: top 0.2s; }
  main .landing .wrapper .content .push-button:hover span {
    top: -100%; }
  main .landing .wrapper .content .push-button:hover:before {
    top: 0; } }

/* Desktop & Tablet */
@media (min-width: 600px) {
  main .contact .contact-form .top-row input {
    width: 32%;
    float: left; }
    main .contact .contact-form .top-row input:nth-of-type(2) {
      margin: 0 2%; } }

/* Tablet */
@media (max-width: 999px) and (min-width: 600px) {
  .main-section {
    padding: 120px 0; }
  main .landing {
    height: 500px; }
    main .landing .wrapper {
      height: 500px; }
      main .landing .wrapper .content h2 {
        font-size: 25px;
        line-height: 20px; }
      main .landing .wrapper .content h1 {
        margin-top: 15px;
        font-size: 60px;
        line-height: 45px; }
      main .landing .wrapper .content h3 {
        margin-top: 20px;
        font-size: 17px; }
      main .landing .wrapper .content .push-button {
        margin-top: 35px; } }

/* Tablet and Down */
@media (max-width: 999px) {
  header .nav-toggle {
    width: 55px;
    height: 25px;
    margin-top: 5px;
    float: left;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2010;
    -webkit-transition: height 0.2s, top 0.2s, left 0.3s;
            transition: height 0.2s, top 0.2s, left 0.3s; }
    header .nav-toggle span {
      background-color: #fff;
      width: 55px;
      height: 5px;
      position: relative;
      top: 10px;
      -webkit-transition: all 0.2s;
              transition: all 0.2s; }
      header .nav-toggle span:before,
      header .nav-toggle span:after {
        content: "";
        display: block;
        background-color: #fff;
        width: 55px;
        height: 5px;
        position: absolute;
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
      header .nav-toggle span:before {
        top: -10px; }
      header .nav-toggle span:after {
        top: 10px; }
    header .nav-toggle:hover {
      height: 31px;
      top: -3px; }
      header .nav-toggle:hover span {
        top: 13px; }
        header .nav-toggle:hover span:before {
          top: -13px; }
        header .nav-toggle:hover span:after {
          top: 13px; }
  header nav {
    width: 100%;
    height: 0;
    border-width: 0;
    border-style: solid;
    border-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2005;
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
            transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }
    header nav ul {
      width: 150px;
      position: fixed;
      top: 80px;
      left: 0;
      -webkit-transition: width 0.3s, top 0.3s;
              transition: width 0.3s, top 0.3s; }
      header nav ul li {
        float: none;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translate3d(-100%, 50%, 0);
                transform: translate3d(-100%, 50%, 0);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
                transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }
        header nav ul li a {
          display: block;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
          text-align: center;
          line-height: 50px;
          text-transform: uppercase; }
        header nav ul li:last-child {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
        header nav ul li:hover a,
        header nav ul li.current a {
          background-color: rgba(0, 0, 0, 0.1);
          color: #3498db;
          text-decoration: none; }
    header nav .nav-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  header.scrolled .nav-toggle span {
    background-color: #000; }
    header.scrolled .nav-toggle span:before,
    header.scrolled .nav-toggle span:after {
      background-color: #000; }
  header.open {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
    header.open .nav-toggle {
      height: 35px;
      top: -5px;
      left: 33px; }
      header.open .nav-toggle span {
        background-color: transparent;
        top: 15px; }
        header.open .nav-toggle span:before,
        header.open .nav-toggle span:after {
          background-color: #fff;
          top: 0; }
        header.open .nav-toggle span:before {
          -webkit-transform: rotate(35deg);
              -ms-transform: rotate(35deg);
                  transform: rotate(35deg); }
        header.open .nav-toggle span:after {
          -webkit-transform: rotate(-35deg);
              -ms-transform: rotate(-35deg);
                  transform: rotate(-35deg); }
      header.open .nav-toggle:hover {
        height: 42px;
        top: -10px; }
        header.open .nav-toggle:hover span {
          top: 19px; }
          header.open .nav-toggle:hover span:before {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg); }
          header.open .nav-toggle:hover span:after {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
    header.open .logo {
      color: #000; }
      header.open .logo:hover {
        color: #3498db; }
    header.open nav {
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      border-width: 0 0 100px 150px;
      -webkit-transition: border-width 0.3s, background-color 0.3s;
              transition: border-width 0.3s, background-color 0.3s; }
      header.open nav ul li {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s; }
  footer {
    padding: 30px 0;
    text-align: center; }
    footer .left,
    footer .right {
      width: 100%;
      float: none; }
    footer .right {
      margin-top: 20px; }
  .tags {
    text-align: center; } }

/* Special Tablet */
@media (max-width: 717px) {
  .portfolio-tiles .portfolio-tile .inner {
    border: 0; } }

/* Mobile */
@media (max-width: 599px) {
  header {
    height: 60px; }
    header .container {
      margin-top: 12px; }
    header .logo {
      font-size: 40px; }
    header .nav-toggle {
      width: 40px; }
      header .nav-toggle span {
        width: 40px; }
        header .nav-toggle span:before,
        header .nav-toggle span:after {
          width: 40px; }
    header nav ul {
      top: 60px; }
    header nav .nav-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    header.open .nav-toggle {
      left: 25px; }
    header.open nav {
      border-width: 0 0 60px 120px; }
      header.open nav ul {
        width: 120px; }
  .main-section {
    padding: 85px 0; }
    .main-section h3 {
      display: none; }
  main .landing {
    height: 400px; }
    main .landing .wrapper {
      height: 400px; }
      main .landing .wrapper .content h2 {
        font-size: 20px;
        line-height: 15px; }
      main .landing .wrapper .content h1 {
        margin-top: 10px;
        font-size: 45px;
        line-height: 35px; }
      main .landing .wrapper .content h3 {
        margin-top: 10px;
        font-size: 15px; }
        main .landing .wrapper .content h3:before,
        main .landing .wrapper .content h3:after {
          display: none; }
      main .landing .wrapper .content .push-button {
        margin-top: 25px; }
  main .contact .contact-form {
    margin-top: 30px; }
    main .contact .contact-form input,
    main .contact .contact-form textarea {
      margin-bottom: 15px; } }
