//== Theme Variables ====================================================

$color: #3498db;
$color-darker: #2980b9;
$color-2: #99a1ad;

$font-1: 'Lato', sans-serif;
$font-2: 'Yanone Kaffeesatz', sans-serif;